.title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}
  
.subtitle {
    line-height: 1.5;
    font-size: 19px;
    width: 490px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.subtitle p {
    text-align: center;
}

.headerWrapper {
    width: 100vw;
    height: 420px;
    background-image: url('../public/images/bkgd_image_inkwell.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.headerTextContainer {
    padding: 7rem 0;
    position: relative;
}

.creativeContent {
    margin: 0 16%;
}

.creativeContentSection {
    margin-bottom: 130px;
}

.creativeContentSection:nth-of-type(3) {
    margin-bottom: 62px;
}

.creativeContentSection:last-of-type {
    margin-bottom: 0;
}

.creativeContentHeader {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.creativeContentHeaderText {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin-bottom: -15px;
    display: inline-block;
}

.videoContainer {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 14px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.videoCaption {
    margin-bottom: 41px;
}

.videoTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.videoCredits,
.videoYear {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.featureFilmContentContainer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 40px;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.featureFilmContentCard {
    width: 48%;
}

.featureFilmCaption {
    margin-top: 14px;
}

.featureFilmTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.featureFilmGenre {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.featureFilmDescription {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0;
}

/* .cardLinkContainer {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 32px;
} */

.cardLinkTitle {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: var(--color-red);
    color: var(--color-extra-light);
    text-transform: capitalize;
}

.cardLink:hover {
    cursor: pointer;
}

.fictionContentContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-lightest);
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: -23.5%
}

.fictionContentCard {
    height: 72px;
    margin: 5px 16%;
    border-radius: 3px;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    background-color: var(--color-extra-light);
}

.fictionContentCard:first-of-type {
    margin-top: -36px;
}

.fictionContentCard:last-of-type {
    margin-bottom: 36px;
}

.stagePlaysContentContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-darker);
    margin-top: 35px;
    margin-left: -23.5%
}

.stagePlaysContentCard {
    min-height: 72px;
    margin: 5px 16%;
    border-radius: 3px;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    background-color: var(--color-extra-light);
}

.stagePlaysContentCard:first-of-type {
    margin-top: -36px;
}

.stagePlaysContentCard:last-of-type {
    margin-bottom: 36px;
}

.stagePlaysLinkContainer {
    width: 100vw;
    height: auto;
    background-color: var(--color-darker);
    margin-left: -23.5%;
    color: var(--color-extra-light);
    padding: 20px 0 80px 0;
}

.stagePlaysLinkText {
    margin-left: 16%;
    margin-bottom: 0;
}

.stagePlaysLinkText:first-of-type {
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 13px;
}

.stagePlaysLinkText:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
}

.stagePlaysLinkText:last-of-type a {
    color: var(--color-red);
    text-decoration: none;
}
