.title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}
  
.subtitle {
    line-height: 1.5;
    font-size: 19px;
    width: 490px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.subtitle p {
    text-align: center;
}

.headerWrapper {
    width: 100vw;
    height: 420px;
    background-image: url('../public/images/bkgd_image_inkwell.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.headerTextContainer {
    padding: 7rem 0;
    position: relative;
}

.creativeContent {
    margin: 0 16%;
}

.creativeContentSection {
    margin-bottom: 130px;
}

.creativeContentHeader {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.creativeContentHeaderText {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin-bottom: -15px;
    display: inline-block;
}

.videoContainer {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 14px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.videoCaption {
    margin-bottom: 41px;
}

.videoTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.videoCredits,
.videoYear {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}
