.footer {
    width: 100vw;
    height: 222px;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ivypresto-display', serif;
    color: var(--color-lighter);
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    padding: 30px 0;
  }

  .footerText {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    text-align: center;
    width: 360px;
}