@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/cfm3kyd.css");

:root {
    --color-red: #FF5555;
    --color-darkest: #000000;
    --color-darker: #212121;
    --color-dark: #444444;
    --color-medium-dark: #616161;
    --color-medium: #7E7E7E;
    --color-medium-light: #9C9C9C;
    --color-light: #B7B7B7;
    --color-lighter: #D6D6D6;
    --color-lightest: #F1F1F1;
    --color-extra-light: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    padding-bottom: 222px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categoryHeader {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin: 0;
}

.container {
    font-family: 'Poppins', sans-serif;
    max-width: 700px !important;
    font-weight: 600;
}

#nav-container {
    max-width: 600px !important;
}

.container-fluid {
    justify-content: center !important;
    padding: 0 !important;
}

.navbar-brand {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
    font-size: 15px !important;
    line-height: 18.45px;
}

.navbar-light .navbar-brand {
    color: var(--color-dark) !important;
}

.navbar-light .navbar-brand:hover {
    color: var(--color-red) !important;
}

#active-link {
    color: var(--color-red);
}

#home-link:hover {
    filter: grayscale(100%);
}

.navbar.navbar-expand-sm.navbar-light {
    padding-bottom: 0;
}

.d-flex {
    height: 100vh;
}

.spinner-border {
    margin: 50% 0;
}
