@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/cfm3kyd.css");

:root {
    --color-red: #FF5555;
    --color-darkest: #000000;
    --color-darker: #212121;
    --color-dark: #444444;
    --color-medium-dark: #616161;
    --color-medium: #7E7E7E;
    --color-medium-light: #9C9C9C;
    --color-light: #B7B7B7;
    --color-lighter: #D6D6D6;
    --color-lightest: #F1F1F1;
    --color-extra-light: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    padding-bottom: 222px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categoryHeader {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin: 0;
}

.container {
    font-family: 'Poppins', sans-serif;
    max-width: 700px !important;
    font-weight: 600;
}

#nav-container {
    max-width: 600px !important;
}

.container-fluid {
    justify-content: center !important;
    padding: 0 !important;
}

.navbar-brand {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
    font-size: 15px !important;
    line-height: 18.45px;
    transition: all 0.2s;
}

.navbar-light .navbar-brand:hover {
    color: var(--color-red) !important;
    transform: scale(1.05);
}

#inactive-link {
    color: var(--color-dark);
}

#active-link {
    color: var(--color-red);
}

.navbar-light .navbar-brand:hover #home-link {
    filter: grayscale(100%);
}

.navbar.navbar-expand-sm.navbar-light {
    padding-bottom: 0;
}

.d-flex {
    height: 100vh;
}

.loader-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--color-red);
    border-bottom: 16px solid var(--color-red);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.putMeToWorkContainer {
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.putMeToWorkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    line-height: 26px;
    width: 265px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
    transition: transform 0.2s;
}

.putMeToWorkButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.inline-link,
.inline-link:hover {
    text-decoration: none;
    color: var(--color-red);
}

/* Bio page styles */

.bioPageContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../public/images/bkgd_image_bio.png');
    background-repeat: no-repeat;
    position: relative;
}

.bioHero {
    position: absolute;
    top: 0;
    height: 820px;
    width: 100vw;
    background-color: var(--color-darker);
    z-index: -1;
}

.bioTitle {
    padding-top: 60px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    line-height: 98px;
    color: var(--color-extra-light);
    text-align: center;
    width: 100vw;
}

.bioUnderTitle {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.authorImage {
    height: 270px;
    width: 270px;
}

.bioSection {
    width: 40rem;
    height: 45rem;
    background-color: var(--color-extra-light);
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -4rem;
}

.bioContainer {
    width: 80%;
    height: 90%;
    color: var(--color-dark);
}

.bioContainer a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-red);
}

.backToHomeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 222px;
}

.backToHomeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    line-height: 26px;
    width: 265px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
    /* margin-bottom: 82px; */
    transition: transform 0.2s;
}

.backToHomeButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Creative page styles */

.creative-title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-darkest);
}

.creative-subtitle {
    line-height: 1.5;
    font-size: 19px;
    width: 490px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-dark);
}

.creative-subtitle p {
    text-align: center;
}

.creative-headerWrapper {
    width: 100vw;
    height: 420px;
    position: relative;
    margin-bottom: 50px;
}

.creative-headerWrapper:after {
    content: '';
    background-image: url('../public/images/bkgd_image_inkwell.png');
    background-position: left;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100vw;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1000px) {
    .creative-headerWrapper:after {
        opacity: 0.5;
    }
}

.creative-headerTextContainer {
    padding: 7rem 0;
    position: relative;
}

.creative-creativeContent {
    margin: 0 16%;
}

.creative-creativeContentSection {
    margin-bottom: 130px;
}

.creative-creativeContentSection:nth-of-type(3) {
    margin-bottom: 62px;
}

.creative-creativeContentSection:last-of-type {
    margin-bottom: 0;
}

.creative-creativeContentHeader {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.creative-creativeContentHeaderText {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 1rem;
    margin-bottom: -15px;
    display: inline-block;
    color: var(--color-dark);
}

/* Short Film Section */

.creative-videoContainer {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 14px;
}

.creative-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.creative-videoCaption {
    margin-bottom: 41px;
}

.creative-videoTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--color-dark);
}

.creative-videoCredits,
.creative-videoYear {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-medium);
}

/* Feature Film Section */

.creative-featureFilmContentContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2%;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 587px) and (max-width: 1200px) {
    .creative-featureFilmContentContainer {
        justify-content: center;
    }
}

.creative-featureFilmContentCard {
    width: 49%;
    min-width: 400px;
    margin-bottom: 50px;
}

.creative-featureFilmCaption {
    margin-top: 14px;
}

.creative-featureFilmImage {
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.creative-featureFilmImage:hover {
    filter: grayscale(0%);
}

.creative-featureFilmTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-red);
}

.creative-featureFilmGenre {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-medium);
}

.creative-featureFilmDescription {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0;
    color: var(--color-dark);
}

.creative-cardLinkTitle {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-dark);
}

.creative-cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: var(--color-red);
    color: var(--color-extra-light);
    text-transform: capitalize;
    border-radius: 3px;
    transition: transform 0.2s;
}

.creative-cardLink:hover {
    cursor: pointer;
    transform: scale(1.05)
}

/* Fiction and Literary Section */

.creative-fictionContentContainer {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-lightest);
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: -23.5%
}

/* row/card */
.creative-fictionContentCard {
    height: 72px;
    margin: 5px 16%;
    border-radius: 3px;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    background-color: var(--color-extra-light);
}

/* offset top row/card */
.creative-fictionContentCard:first-of-type {
    margin-top: -36px;
}

.creative-fictionContentCard:last-of-type {
    margin-bottom: 36px;
}

/* inner row/card structure */
@media (max-width: 1060px) {
    .creative-fictionContentCard {
        height: auto;
    }

    .creative-fictionContentCardGrid {
        flex-direction: column;
        align-items: flex-start;
    }

    #fl-title,
    #fl-description {
        width: auto;
    }
}

@media (min-width: 1061px) {
    .creative-fictionContentCardGrid {
        align-items: center;
    }

    #fl-title {
        width: 28%;
    }

    #fl-description {
        width: 30%;
    }
}

.creative-fictionContentCardGrid {
    height: 100%;
    padding: 10px 30px;
    display: flex;
    gap: 5px;
}

.creative-fictionContentCardContents p {
    margin: 0;
}

/* text in row/card */
.creative-fictionTitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-dark);
}

.creative-fictionTitle a {
    text-decoration: none;
    color: inherit;
}

.creative-fictionTitle a:hover,
.creative-fictionDescription a:hover {
    color: var(--color-red);
}

.creative-fictionGenre {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-medium);
    text-transform: uppercase;
}

.creative-fictionDescription {
    font-weight: 500;
    font-size: 15px;
    color: var(--color-medium);
}

.creative-fictionDescription a {
    text-decoration: none;
    color: var(--color-red);
}

/* Stage Plays Section */

.creative-stagePlaysContentContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-darker);
    margin-top: 35px;
    margin-left: -23.5%
}

/* row/card */
.creative-stagePlaysContentCard {
    min-height: 72px;
    margin: 5px 16%;
    border-radius: 3px;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    background-color: var(--color-extra-light);
}

/* offset top row/card */
.creative-stagePlaysContentCard:first-of-type {
    margin-top: -36px;
}

.creative-stagePlaysContentCard:last-of-type {
    margin-bottom: 36px;
}

/* inner row/card structure */
@media (max-width: 1324px) {
    .creative-stagePlaysContentGrid {
        display: grid;
        grid-template-rows: auto;
        padding: 10px 30px;
    }

    .creative-stagePlaysContentCardContents {
        padding: 3px 0;
    }
}

@media (min-width: 1325px) {
    .creative-stagePlaysContentGrid {
        height: 100%;
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 29% 28% 24% 19%;
        gap: 5px;
        align-items: center;
    }
}

.creative-stagePlaysContentCardContents p {
    margin: 0;
}

.creative-stagePlaysTitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-dark);
}

.creative-stagePlaysGenre {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-medium);
    text-transform: uppercase;
}

.creative-stagePlaysDescription,
.creative-stagePlaysPerformance {
    font-weight: 500;
    font-size: 15px;
    color: var(--color-medium);
}

.creative-stagePlaysDescription a {
    text-decoration: none;
    color: var(--color-red);
}

.creative-stagePlaysLinkContainer {
    width: 100vw;
    height: auto;
    background-color: var(--color-darker);
    margin-left: -23.5%;
    color: var(--color-extra-light);
    padding: 20px 0 80px 0;
}

.creative-stagePlaysLinkText {
    margin-left: 16%;
    margin-bottom: 0;
}

.creative-stagePlaysLinkText:first-of-type {
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 13px;
}

.creative-stagePlaysLinkText:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
}

.creative-stagePlaysLinkText:last-of-type a {
    color: var(--color-red);
    text-decoration: none;
}

.creative-inline-link-container {
    margin-top: 20px;
}

.creative-inline-link-container p {
    margin-block: 4px;
}

.creative-externalLink {
    text-decoration: none;
}

/* Crocodiles page styles */

.crocodiles-headerWrapper {
    background-image: url('../public/images/bkgd_image_bookshelf.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw 420px;
    margin-top: -25px;
}

.crocodiles-headerTextContainer {
    padding: 10rem 0;
}

.crocodiles-title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: var(--color-darkest);
}

.crocodiles-underBookshelf {
    display: flex;
    width: 100vw;
    height: 400px;
    font-family: 'Poppins', sans-serif;
}

.crocodiles-left,
.crocodiles-right {
    display: inline-block;
    width: 50%;
    height: 100%;
    /* text-align: center; */
}

.crocodiles-left {
    display: flex;
    align-items: center;
    justify-content: right;
}

.crocodiles-crocImage {
    padding-right: 80px;
    margin-top: -40px;
}

.crocodiles-right {
    display: flex;
    align-items: center;
    justify-content: left;
}

.crocodiles-rightChild {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 35%;
}

.crocodiles-crocText {
    font-size: 19px;
    font-weight: 200;
    color: var(--color-dark);
}

.crocodiles-subscribeButtonContainer {
    display: flex;
}

.crocodiles-subscribeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    background-color: var(--color-red);
    color: var(--color-extra-light);
    line-height: 26px;
    width: 210px;
    height: 40px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
}

.crocodiles-subscribeButton:hover {
    cursor: pointer;
}

.crocodiles-crocText a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: var(--color-red);
}

.crocodiles-externalLink {
    text-decoration: none;
}

/* Footer styles */

.footer-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 222px;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ivypresto-display', serif;
    color: var(--color-lighter);
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    padding: 30px 0;
  }

  .footer-footerName {
      padding-bottom: 22px;
  }

  .footer-footerText {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    text-align: center;
    width: 360px;
}

/* Home page styles */

.home-title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

.home-title,
.home-subtitle {
  text-align: center;
}

.home-subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: .8rem;
  text-transform: uppercase;
  margin: 0;
}

.home-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
 home- .grid {
    width: 100%;
    flex-direction: column;
  }
}

.home-headerWrapper {
    width: 100vw;
    background-image: url('../public/images/la_skyline_header_image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-headerTextContainer {
    padding: 10rem 0;
}

.home-subHeaderTextSection {
    height: 275px;
    width: 100vw;
}

.home-subHeaderTextContainer {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 19px;
    width: 550px;
    position: relative;
    top: 20%;
    left: 18%;
    padding-left: 5px;
    border-left: 2px solid var(--color-red);
}

.home-subHeaderTextWithDropCap,
.home-subHeaderText {
    margin: 8px 0;
}

.home-subHeaderTextWithDropCap:first-letter {
    float: left;
    font-size: 4rem;
    font-weight: 100;
    line-height: 0.65;
    margin-top: 0.15em;
}

.homeSubheader-subheaderSection {
    width: 100vw;
    height: auto;
    min-height: 275px;
    margin-bottom: 40px;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.homeSubheader-subheaderBorder {
    width: 53px;
    text-align: center;
}

.homeSubheader-subheaderBorder hr {
    width: 100%;
    border: 2px solid var(--color-red);
    opacity: 1;
    margin-bottom: 30px;
}

.homeSubheader-subheaderContainer {
    width: 60%;
    height: auto;
    padding: 100px 0;
}

.homeSubheader-subheaderText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 36.25px;
    text-align: center;
    color: var(--color-dark);
}

.homeSubheader-testimonialSource {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 21.75px;
    color: var(--color-medium-light);
    text-align: center;
    margin: 0;
}

.homeCards-cardContainer {
    width: 100vw;
    background: var(--color-lightest);
    position: relative;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 2%;
    justify-content: center;
}

.homeCards-card {
    background: var(--color-extra-light);
    min-height: 465px;
    max-width: 360px;
    min-width: 320px;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    border-radius: 3px;
    position: relative;
    display: inline-block;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding-bottom: 5%;
}

.homeCards-cardIcon {
    text-align: center;
    padding-top: 15px;
}

.homeCards-cardContentList {
    padding-left: 1.75rem;
}

.homeCards-cardHeader {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin: 0;
}

.homeCards-cardContentList ul {
    padding-inline-start: 40px;
    padding-right: 2.5rem;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: var(--color-dark);
    line-height: 1.54rem;
}

.homeCards-cardLinkContainer {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 32px;
}

.homeCards-cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: var(--color-red);
    color: var(--color-extra-light);
    border-radius: 3px;
    transition: transform 0.2s;
}

.homeCards-cardLink:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Portfolio page styles */

.portfolio-heroBackground {
    position: absolute;
    width: 100vw;
    height: 944px;
    background-image: url('/images/bkgd_portfolio_hero.png');
    background-position: left;
    background-repeat: no-repeat;
}

.portfolio-heroTitleContainer {
    margin: 102px 0;
    position: relative;
    text-align: center;
    color: var(--color-darkest)
}

.portfolio-heroTitle {
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 98.4px;
}

.portfolio-heroSubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 123%;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.portfolio-videoContainer {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 14px;
}

.portfolio-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio-placeholder {
    height: 60px;
}

/* Portfolio Section styles */

.portfolio-section-contentTitleContainer {
    position: relative;
    margin-left: 16%;
    width: 50%;
    padding-bottom: 67px;
}

@media (max-width: 720px) {
    .portfolio-section-contentTitleContainer {
        width: 75%
    }
}

.portfolio-section-contentTitle {
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    color: var(--color-dark);
}

.portfolio-section-contentSubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    color: var(--color-medium-dark);
    width: 65%;
}

@media (max-width: 1110px) {
    .portfolio-section-contentSubtitle {
        width: 100%;
    }
}

/* Portfolio card styles */

.portfolio-content-card-card {
    width: 32%;
    min-width: 300px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: var(--color-extra-light);
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
}

.portfolio-content-card-cardTitleContainer {
    min-height: 47%;
    padding: 30px 30px 0 30px;
}

.portfolio-content-card-cardDate {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.45px;
    color: var(--color-light);
    text-transform: uppercase;
}

.portfolio-content-card-cardTitle {
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: var(--color-red);
    text-transform: capitalize;
}

.portfolio-content-card-cardTitle a {
    text-decoration: none;
    color: inherit;
}

.portfolio-content-card-cardImageContainer {
    height: 53%;
}

/* WritingLinkSection component styles */

.writingLinkSection {
    width: 100vw;
    height: auto;
}

.writingLinkSection-container {
    /* position: static; */
    width: 100%;
    border: .5px solid rgba(0,0,0,0);
    height: auto;
    background-color: var(--color-lightest);
}

.writingLinkSection-cardContainer {
    position: relative;
    height: auto;
    margin: -42px 1.5rem 42px 1.5rem;
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 2%;
    justify-content: center;
}

/* WritingLinkCard component styles */

.writingLinkCard-card {
    height: 299px;
    width: 32%;
    min-width: 315px;
    max-width: 360px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: var(--color-extra-light);
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    text-decoration: none;
    transition: transform 0.2s;
}

.writingLinkCard-card:hover {
    transform: scale(1.05);
}

.writingLinkCard-cardTitleContainer {
    padding: 30px 30px 0 30px;
}

.writingLinkCard-cardImageContainer {
    min-height: 47%;
    background-repeat: no-repeat;
    background-position: center top;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.writingLinkCard-card:hover .writingLinkCard-cardImageContainer {
    filter: grayscale(0%);
}

.writingLinkCard-cardDate {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.45px;
    color: var(--color-light);
    text-transform: uppercase;
}

.writingLinkCard-cardTitle {
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: var(--color-red);
    text-transform: capitalize;
}

/* .writingLinkCard-link {
    text-decoration: none;
    color: inherit;
} */

.writingLinkCard-cardTitleContainer {
    height: 53%;
}

/* Testimonial component styles */

.testimonialSection {
    width: 100vw;
    height: auto;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.testimonialBorder {
    width: 53px;
    text-align: center;
}

.testimonialBorder hr {
    width: 100%;
    border: 2px solid var(--color-red);
    opacity: 1;
    margin-bottom: 40px;
}

.testimonialContainer {
    width: 35%;
    height: auto;
    padding: 100px 0;
}

@media (max-width: 1040px) {
    .testimonialContainer {
        width: 50%;
    }
}

.testimonialText {
    font-family: "ivypresto_display", serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 36.25px;
    text-align: center;
    color: var(--color-dark);
}

.testimonialSource {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 21.75px;
    color: var(--color-medium-light);
    text-align: center;
    margin: 0;
}
