@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400,700&display=swap');
@import url("https://cloud.typenetwork.com/projects/3433/fontface.css/");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
    font-family: "IvyPresto Disp Reg", serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.24;
    padding-left: 3rem;
    margin: 0;
}

.container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px !important;
}

.container-fluid {
    justify-content: center !important;
    padding: 0 !important;
}

.container-fluid:hover{
    background-color: #f1f1f1;
}

.navbar-brand {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
}