.title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: .8rem;
  text-transform: uppercase;
  margin: 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.headerWrapper {
    width: 100vw;
    background-image: url('../public/images/la_skyline_header_image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerTextContainer {
    padding: 10rem 0;
}

.subHeaderTextSection {
    height: 275px;
    width: 100vw;
}

.subHeaderTextContainer {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 19px;
    width: 550px;
    position: relative;
    top: 20%;
    left: 18%;
    padding-left: 5px;
    border-left: 2px solid var(--color-red);
}

.subHeaderTextWithDropCap,
.subHeaderText {
    margin: 8px 0;
}

.subHeaderTextWithDropCap:first-letter {
    float: left;
    font-size: 4rem;
    font-weight: 100;
    line-height: 0.65;
    margin: 0.15em 0.1em 0 0;
  }

.cardSection {
    height: 500px;
    width: 100vw;
    background: var(--color-lightest);
}

.cardContainer {
    padding: 0 12%;
    margin-top: -2rem;
    display: grid; /* change this to flex and make it wrap on shrink */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.card {
    background: var(--color-extra-light);
    height: 125%;
    width: auto;
    box-shadow: 2px 4px 10px 6px rgba(30, 52, 65, 0.07);
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

.cardIcon {
    text-align: center;
    padding: 15px 0;
}

.cardContentList {
    padding-left: 1.75rem;
    padding-right: 2.3rem;
}

.cardHeader {
    font-family: 'ivypresto-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 1.24;
    padding: 0 3rem;
    margin: 0;
}

.cardContentList ul {
    padding-inline-start: 40px;
    padding-right: 2.5rem;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: var(--color-dark);
    line-height: 1.54rem;
}

.cardLinkContainer {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 32px;
}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: var(--color-red);
    color: var(--color-extra-light);
    border-radius: 3px;
}

.cardLink:hover {
    cursor: pointer;
}

.putMeToWorkContainer {
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.putMeToWorkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    line-height: 26px;
    width: 265px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
}

.putMeToWorkButton:hover {
    cursor: pointer;
}
