.title {
    margin: 0;
    line-height: 98px;
    font-size: 80px;
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: .8rem;
  text-transform: uppercase;
  margin: 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.headerWrapper {
    width: 100vw;
    background-image: url('../public/images/la_skyline_header_image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerTextContainer {
    padding: 10rem 0;
}

.subHeaderTextSection {
    height: 275px;
    width: 100vw;
}

.subHeaderTextContainer {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 19px;
    width: 550px;
    position: relative;
    top: 20%;
    left: 18%;
    padding-left: 5px;
    border-left: 2px solid var(--color-red);
}

.subHeaderTextWithDropCap,
.subHeaderText {
    margin: 8px 0;
}

.subHeaderTextWithDropCap:first-letter {
    float: left;
    font-size: 4rem;
    font-weight: 100;
    line-height: 0.65;
    margin-top: 0.15em;
  }

.putMeToWorkContainer {
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.putMeToWorkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    line-height: 26px;
    width: 265px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
}

.putMeToWorkButton:hover {
    cursor: pointer;
}
