.heroBackground {
    position: absolute;
    width: 100vw;
    height: 944px;
    background-image: url('/images/bkgd_portfolio_hero.png');
    background-position: left;
    background-repeat: no-repeat;
}

.heroTitleContainer {
    margin: 102px 0;
    position: relative;
    text-align: center;
    color: var(--color-darkest)
}

.heroTitle {
    font-family: 'ivypresto-display', serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 98.4px;
}

.heroSubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 123%;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.videoContainer {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 14px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.putMeToWorkContainer {
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.putMeToWorkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    line-height: 26px;
    width: 265px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 3px;
}

.putMeToWorkButton:hover {
    cursor: pointer;
}
